################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/getMiddleChar/getMiddleChar/bin/Debug
