################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/getMiddleChar/getMiddleChar/bin/Debug
/getMiddleChar/getMiddleChar/obj/Debug
/getMiddleChar/.vs/getMiddleChar/v15
/getMiddleChar/getMiddleCharTests/bin/Debug
/getMiddleChar/getMiddleCharTests/obj/Debug
